
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headerPop__background{
  background-color:#0f7672 !important;
}
  .headerPop__background h2{
      color: #fff;
  }

.button{
  color: #fff !important;
  background-color: #0a524f !important;
}

.button:hover{
  background-color: #0a524f !important;
  color: #fff !important;
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.btn__recuperarC{
  width: 12rem;
}

.nav__background{
  background-color:#0f7672 !important;
}

.card__Style{
  text-decoration: none;
  color: black;
  width: 14rem;
}

.grilla{
  background-color:#0f7672 !important;
}

.grilla__cuerpo{
  background-color:#fff;
}

footer{
  background-color: #0f7672;
  width: 100%;
  height: 4rem;
  margin: auto;
  position: sticky;
}

  footer div{
      color: #fff;
  }

.logo{
  border: 2px solid gray;
}

.navbar-brand{
  color: #fff !important;
}

.main__title{
  text-align: center;
}

.main__grilla{
  background-color: #0f7672;
  width: 95%;
}
.table-responsive{
  max-height: 660px;
}
.grilla__contenedor{
  border: 1px solid grey;
  border-collapse: unset;
  padding: 1% 2.5% 1.5% 2.5%;
  text-align: center;
}

.grilla__cabecera{
  color: #fff;
}

.grilla__cabecera{
  height: 2.3rem;
  line-height: 2.3rem;
}

thead{
  top: -1px;
  background-color: #fff;
  z-index: 1;
  position: sticky;
}

.grilla__fila{
  height: 40px;
}

.fila__par{
  background-color: rgba(255, 255, 255, 0.932);
}
.fila__impar{
  background-color: #fff;
}

.main__flex{
  flex: 1;
}

.row{
  margin: 0px !important;
  padding: 0px !important;
}

.grilla__item-izquierdo{
  border-bottom-left-radius: 1rem;
}

.grilla__item-derecho{
  border-bottom-right-radius: 1rem;
}

.grilla__boton{
  width: 10rem;
}

#formulario{
  width: 90%;
  background-color: #0f7672;
}

.formulario__titulo{
  color: #fff;
}

#contenedorDetalle{
  width: 100%;
}

.modal__max-width{
  max-width: 800px !important;
}

.icono__contenedor{
  text-decoration: none;
}

  .icono__imagen{
    height: 25px;
    text-decoration: none;
  }

.editar__contenedor{
  width: 90%;
  background-color: #0f7672;
}

.text__white{
  color:#fff;
}


/* Estilos específicos del módulo de usuarios */
.users-module {
    margin: 20px;
  }
  
  .users-module h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .users-module .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  
  .users-module .grid-item {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .users-module .grid-item p {
    margin: 5px 0;
  }
  
  .users-module .create-user-form {
    margin-top: 20px;
  }
  
  .users-module .create-user-form input[type="text"],
  .users-module .create-user-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .users-module .create-user-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .users-module .create-user-form input[type="submit"]:hover {
    background-color: #666;
  }
  
  .users-module .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .contenedor__mayor{
    width: 95%;
  }

  .selector__cabecera{
    margin-left: 8%;
  }

  .w-85{
    width: 85%;
  }

  .w-95{
    width: 94%;
  }

  .mx-7{
    margin-right: 6rem!important;
    margin-left: 6rem!important;
  }

  .ms-7{
    margin-left: 7rem!important;
  }

  .me-7{
    margin-right: 7rem!important;
  }

  .w-30{
    width: 30% !important;
  }

  .cabecera-grilla__backgrond{
    background-color: #dedede !important;
    border: black 1px solid;
  }

  .svg-disabled-color{
    fill: #666;
  }

  

  .grilla-productos__cont{
    max-height: 500px; 
    overflow-y: auto;
  }

    .grilla-productos__cuerpo{
      max-height: 200px;
      overflow-y: auto;
    }

    .grilla-productos__cabecera{
      position: sticky;
      top: 0px;
    }


.form-control{
  border-radius: 0 !important;
}

.grilla__mensaje-error{
  margin: 60px 0;
  color: #fff;
}